
button{
    background-color: rgb(177, 78, 78);
    color: white;
    border: none;
    padding: 10px 20px;
    
    cursor: pointer;

}
button:hover{
    background-color: rgb(255, 0, 0);
    transition: 0.3s;
}
.lowertext{
    font-size: small;
}
